{% extends "base.html" %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chats.css') }}">








            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            <div class="container" style="margin-top:30px;">

                {% if test_chats %}

                    <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card chat-app">
                        <div id="plist" class="people-list">
                            <label>Chats: </label>

                            <ul class="list-unstyled chat-list mt-2 mb-0">


                                {% for interlocutor in chats.keys() %}

                                    <li class="clearfix">


                                        <div class="about">
                                            <div class="name">
                                                <a href="{{ url_for('chats',interlocutor=interlocutor) }}"  class="btn btn-primary" style="background:#EFEFEF;color:black;">{{ interlocutor }}</a>


                                            </div>
                                        </div>


                                    </li>

                                {% endfor %}

                            </ul>
                        </div>



                        <div class="chat" >
                            <div class="chat-header clearfix">
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="chat-about">
                                            <h6 class="m-b-0">{{ current_interlocutor }}</h6>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="chat-history" style="overflow:hidden;overflow-y: scroll;">
                                <ul class="m-b-0">

                                    {% for message in chats[current_interlocutor]%}

                                        {% if message[0] != current_user.id %}

                                            <li class="clearfix">

                                                <div class="message my-message"> {{message[2]}} </div>
                                            </li>


                                        {% else %}

                                            <li class="clearfix">

                                                <div class="message other-message float-right"> {{message[2]}} </div>
                                            </li>

                                        {% endif %}
                                    {% endfor%}

                                </ul>
                            </div>


                            <hr>


                            <form action="#" method="post">
                                <div class="chat-message clearfix" >
                                    <div class="input-group mb-0">

                                            <input name="interlocutor" type="hidden" value= {{ current_interlocutor }} >


                                            <div class="col-xl" >
                                                <input type="text" class="form-control" placeholder="Enter text here..." name="message"></div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-secondary btn-block" >Send</button>
                                            </div>


                                    </div>
                                </div>
                            </form>

                              {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                  {% for msg in messages %}
                                    <div class="alert alert-info" role="alert">
                                        {{msg}}
                                    </div>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}


                        </div>



                    </div>
                </div>
            </div>

                {% else %}

                    <div style="margin-right: 20%;margin-left:20%;color:red;">
                            <h3 >No chats available!</h3>
                        </div>
                {% endif %}

            </div>





    {% if interlocutor %}

            <div style="margin-right: 20%;margin-left:20%;color:red;">
                <h3 >No chats available!</h3>
            </div>

    {% endif %}



    </div>
</div>






{% endblock %}